@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: blue;
  font-family: "Lobster";
  font-size: 1em;
  text-align: center;
}

canvas {
  display: block;
}

.canvas {
  position: fixed;
  z-index: -1;
  margin: 0;
}

.content {
  color: blue;
  font-family: "Lobster";
  font-size: 1.5em;
  text-align: center;
}

.ball {
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
}

.ball img{
  border-radius: 168px;
  cursor: pointer;
}

.ball-hole {
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
}

.ball-hole img{
  border-radius: 88px;
  cursor: pointer;
}

.answer {
  margin: 0;
  transform: translate(-50%, -50%);
  position: absolute; 
  top: 50%; 
  left: 50%;
  max-width: 140px;
  color: white;
  font-family: "Lobster";
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width:800px) {
  body {
    background-color: black;
    background-image: radial-gradient(circle, blue 0%, black 70%);
  }
  .canvas{visibility: collapse;}
  .ball img {
    width: 280px;
    height: 280px;
    border-radius: 140px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  .ball-hole img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }
}